.main__comment {
  background-color: #ffffff;
  padding-top: 42px;
}

.comment__wrapper {
  margin: 0 auto;
  width: 280px;
}

.comment__effect {
  display: none;
}

.comment__recall {
  display: flex;
  flex-direction: column;
  min-height: 310px;
  justify-content: flex-start;
}

@media (min-width: 660px) {
  .comment__wrapper {
    width: 660px;
  }

  .comment__recall {
    justify-content: flex-end;
    min-height: 246px;
  }

  .comment__effect {
    display: block;
    min-height: 415px;
    width: 640px;
    margin: 0 auto;
  }

  .effect__items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-left: 315px;
    background-image: url("../../img/icon-editor-diagram-fill.svg"), url("../../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 28px 111px, 12px 55px;
    background-size: 206px 204px, 242px 277px;
    padding-top: 94px;
    padding-bottom: 94px;

    &::before {
      position: absolute;
      content: "24";
      font-size: 97px;
      font-weight: bold;
      line-height: 150px;
      color: #d22856;
      left: 73px;
      top: 131px;
    }
  }

  .effect__slogan {
    font-size: 30px;
    padding-right: 67px;
    width: 170px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .effect__desc {
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
    margin: 0;
    margin-bottom: 14px;
  }

  .effect__text {
    text-decoration: underline;
    color: #d22856;
    font-size: 14px;
    padding-left: 5px;
    width: 226px;
  }
}

.recall__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 660px) {
  .item__text-tablet {
    font-size: 18px;
    margin-bottom: 39px;
    margin-top: 18px;
  }

  .recall__item {
    display: flex;
    flex-direction: column-reverse;
    min-height: 215px;
  }

  .item__title-prof {
    padding: 0;
    margin-bottom: 9px;
    margin-top: 29px;
    font-size: 20px;
  }

  .item__text-job {
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}

.recall__slider {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  width: 77px;
}

.effect__text:hover {
  color: black;
}

.effect__text:active {
  opacity: 0.3;
}

@media (min-width: 660px) {
  .main__comment {
    padding-top: 1px;
    width: 660px;
    margin: 0 auto;
  }

  .recall__list {
    margin-top: 0;
    min-height: 219px;
    justify-content: flex-end;
  }

  .recall__slider {
    justify-content: space-evenly;
    padding-top: 17px;
    width: 92px;
  }
}

@media (min-width: 960px) {
  .main__comment {
    width: 100%;
    padding-top: 0;
    background: #f2f2f2;
  }

  .comment__effect {
    margin-bottom: 0;
    width: 960px;
    min-height: 440px;
  }

  .effect__items {
    width: 591px;
    height: 211px;
    background-position: 35px 97px, 14px 30px;
    background-size: 253px 253px, 298px 345px;
    padding-top: 122px;
    justify-content: space-between;
    padding-left: 369px;
    margin-bottom: 0;
  }

  .effect__slogan {
    width: 390px;
    padding-left: 10px;
  }

  .effect__desc {
    padding-right: 0;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
    padding-left: 12px;
    width: 540px;
    font-weight: 400;
  }

  .comment__wrapper {
    width: 960px;
  }

  .effect__items::before {
    position: absolute;
    content: "24";
    font-size: 122px;
    line-height: 150px;
    color: #d22856;
    left: 92px;
    top: 145px;
    font-weight: 700;
  }

  .effect__text {
    font-size: 18px;
    line-height: 34px;
    padding-left: 11px;
    width: 300px;
  }
}

.recall__left,
.recall__right {
  fill: #b5b9be;
  opacity: 0.7;
}

.recall__left:hover,
.recall__right:hover {
  opacity: 1;
}

.recall__right:active,
.recall__left:active {
  opacity: 0.5;
}
