.recall__left,
.recall__right {
  display: none;
}

.item__title-prof {
  order: 1;
  margin-top: 0;
}

.item__text-review {
  margin-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 29px;
}

.recall__item {
  justify-content: flex-end;
  min-height: 256px;
  display: none;
}

@media (min-width: 660px) {
  .item__title-prof {
    order: 0;
  }

  .main__comment-review {
    min-height: 267px;
  }

  .recall__list {
    display: flex;
    min-height: 184px;
    margin-top: 0;
    flex-direction: column-reverse;
  }

  .recall__item {
    min-height: 200px;
    justify-content: flex-start;
  }
}

@media (min-width: 960px) {
  .main__comment-review {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 960px;
    position: relative;
    padding-top: 152px;
  }

  .recall__slider {
    display: none;
  }

  .main__comment-review::before {
    content: "";
    background: url("../../img/quotes.svg") no-repeat center;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 58px;
    left: 434px;
  }

  .item__text-tablet {
    font-size: 18px;
    line-height: 30px;
    padding-right: 96px;
    padding-left: 96px;
    margin-bottom: 16px;
  }

  .item__title-tablet {
    padding-top: 19px;
    margin-bottom: 5px;
    padding-left: 4px;
    font-size: 24px;
    line-height: 30px;
  }

  .recall__left,
  .recall__right {
    display: block;
    position: absolute;
    outline: none;
  }

  .recall__left {
    top: 214px;
    left: -5px;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 46px;
    cursor: pointer;
  }

  .recall__left:focus {
    border: 1px solid rgb(229, 151, 0);
  }

  .recall__right {
    top: 213px;
    right: 4px;
    padding-right: 0;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 45px;
    cursor: pointer;
  }

  .recall__right:focus {
    border: 1px solid rgb(229, 151, 0);
  }
}

@media (min-width: 960px) {
  .item__text-job {
    display: block;
    font-size: 18px;
    padding-left: 38px;
  }

  .recall__list {
    padding-top: 33px;
    min-height: 234px;
  }

  .comment-review__recall {
    justify-content: flex-end;
    min-height: 264px;
  }
}

.recall__item--active {
  display: flex;
  flex-direction: column-reverse;
}

.item__text-job {
  display: none;
}

@media (min-width: 660px) {
  .item__text-job {
    display: block;
  }
}

.slider__button {
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  background-color: #bec2c7;
  width: 6px;
  height: 6px;
  cursor: pointer;

  &--active {
    border: 3px solid black;
    background-color: #ffffff;
  }
}

.slider__button:hover {
  background-color: #7e868f;
}

.slider__button:active {
  opacity: 0.3;
}
