header {
  background: url("../../img/bg-back-mobile@1x-min.jpg") no-repeat;
  background-size: 1400px auto;
  min-height: 237px;
  .header__wrapper-main {
    padding-top: 396px;
  }
}

.header__nav {
  position: relative;
  height: 63px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  .nav__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .nav__box-w--closed {
    display: none;
  }
}

.inner__toggle {
  background-color: transparent;
  outline: none;
  border: none;
}

.wrapper-main__links {
  padding: 25px 20px 25px 20px;
  min-height: 271px;
  background-color: #1d2631;
  position: relative;
  .links__info {
    color: white;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}

.links__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 260px;
  justify-content: space-around;
  &::before {
    position: absolute;
    content: "";
    width: 256px;
    height: 286px;
    top: -286px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../../img/iphone-hand-mobile@1x-min.png") no-repeat;
  }
  .links__btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
  }
  .links__market {
    width: 260px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.photo__info {
  text-align: center;
}

.info__wrapper {
  padding-left: 10px;
  padding-right: 10px;
  .info__title {
    color: #ffffff;
    font-weight: lighter;
    font-size: 24px;
    line-height: 30px;
  }
}

