header {
  background: url("../../img/bg-back-mobile@1x-min.jpg") no-repeat;
  background-size: 1400px auto;
  min-height: 237px;
  margin-bottom: 60px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  header {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }
}

.header__wrapper-main {
  padding-top: 396px;
}

@media (min-width: 660px) {
  header {
    min-height: 440px;
    background: url("../../img/bg-back-tablet@1x.jpg");
    background-size: 1400px auto;
    background-position: 50% 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/bg-back-tablet@2x.jpg");
      background-size: 1400px auto;
    }
  }

  .header__wrapper-main {
    padding-top: 0;
    min-height: 620px;
    background: url("../../img/iphone-hand-tablet@1x-min.png") no-repeat bottom;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/iphone-hand-tablet@2x.png") no-repeat bottom;
      background-size: 700px 545px;
    }
  }
}

@media (min-width: 960px) {
  header {
    background: url("../../img/bg-back-mobile@1x-min.jpg");
    background-size: 1400px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/bg-back-mobile@2x.jpg");
      background-size: 1400px auto;
    }
  }

  .header-index {
    min-height: 850px;
  }

  .header__wrapper-main {
    min-height: 740px;
    background: none;
  }
}

.header__nav {
  position: relative;
  height: 63px;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.nav__inner-wrapper {
  display: flex;
  width: 85%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 660px) {
  .header__nav {
    min-height: 110px;
  }

  .nav__inner {
    width: 100%;
    justify-content: space-between;
  }

  .nav__inner-wrapper {
    margin: 0 auto;
    width: 85%;
  }
}

@media (min-width: 960px) {
  .nav__inner {
    width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .nav__box-w {
    display: flex;
    min-height: 110px;
  }
}

.inner__logo:hover {
  .logo__svg {
    fill: #d22856;
  }
}

.inner__logo:active {
  .logo__svg {
    fill: white;
    opacity: 0.3;
  }
}

.inner__toggle {
  background-color: transparent;
  outline: none;
  border: none;
}

.inner__toggle:hover {
  .toggle__svg {
    fill: #d22856;
  }
}

.inner__toggle:active {
  .toggle__svg {
    fill: #d22856;
    opacity: 0.3;
  }
}

@media (min-width: 660px) {
  .inner__toggle {
    padding-top: 20px;
  }
}

@media (min-width: 960px) {
  .inner__toggle {
    display: none;
  }
}

.wrapper-main__links {
  padding: 25px 20px 25px 20px;
  min-height: 271px;
  background-color: #1d2631;
  position: relative;
}

.links__info {
  color: white;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 660px) {
  .wrapper-main__links {
    background: transparent;
    margin-right: 452px;
  }

  .links__info {
    color: #b5b9be;
    font-weight: lighter;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 960px) {
  .wrapper-main__links {
    margin: 0 auto;
    width: 920px;
    min-height: 715px;
    background: url("../../img/iphone-hand-desktop@1x.png") no-repeat bottom;
    background-position-x: 70px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/iphone-hand-desktop@2x.png") no-repeat bottom;
      background-size: 1050px 645px;
      background-position-x: 70px;
    }
  }
}

.links__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 260px;
  justify-content: space-around;


  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -305px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../../img/iphone-hand-mobile@1x-min.png") no-repeat center;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/iphone-hand-mobile@2x.png") no-repeat center;
      background-size: 258px 286px;
    }
  }

  .links__btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
  }

  .links__market {
    width: 260px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.links__title {
  display: none;
}

@media (min-width: 660px) {
  .links__wrapper {
    justify-content: space-around;
    min-height: 570px;
    min-width: 310px;
  }

  .links__wrapper::before {
    display: none;
    top: 0;
  }

  .links__title {
    display: block;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    line-height: 52px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 960px) {
  .links__title {
    font-size: 50px;
  }

  .links__wrapper {
    min-height: 715px;
    width: 300px;
  }
}

.links__btn {
  font-size: 18px;
  font-weight: 700;
}

.links__btn:hover {
  background-color: white;
  color: #d22856;
}

.links__btn:active {
  background-color: white;
  color: rgba(210, 40, 86, 0.3);
}

.photo__info {
  text-align: center;
}

.info__wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.info__title {
  color: #ffffff;
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
}

@media (min-width: 660px) {
  .info__title {
    padding-top: 60px;
    font-size: 50px;
    line-height: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 960px) {
  .info__wrapper {
    width: 920px;
    margin: 0 auto;
  }

  .wrapper__header-min {
    min-height: 390px;
  }

  .info__title-photo {
    padding: 0;
    margin: 0 auto;
    width: 350px;
  }

  .info__title {
    padding: 0;
  }

  .photo__info {
    width: 960px;
    margin: 0 auto;
    min-height: 280px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 660px) {
  .inner__logo:hover {
    .logo__svg-tablet {
      fill: #d22856;
    }
  }

  .inner__logo:active {
    .logo__svg-tablet {
      fill: white;
      opacity: 0.3;
    }
  }
}

@media (min-width: 960px) {
  .inner__logo:hover {
    .logo__svg-desktop {
      fill: #d22856;
    }
  }

  .inner__logo:active {
    .logo__svg-desktop {
      fill: white;
      opacity: 0.3;
    }
  }

  .box-w__link:hover {
    color: #d22856;
  }

  .box-w__link:active {
    opacity: 0.3;
    color: #ffffff;
  }

  .box-w__link--active {
    border-bottom: 2px solid #ffffff;
  }
}
