.main__prices {
  background: url("../../img/bg-triangle-white.svg") top #f2f2f2 no-repeat;
  padding-top: 70px;
  .prices__table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.prices__wrapper {
  overflow: hidden;
}

.table__wrapper {
  min-height: 286px;
  display: flex;
}

@media (min-width: 1200px) {
  .prices__wrapper {
    margin: 0 auto;
    width: 960px;
  }
}

.table__list {
  padding-left: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 281px;
}

.table__item {
  background-color: white;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  height: 62px;
  align-items: center;
  justify-content: space-between;
  .item__desc {
    padding-left: 20px;
  }
}

.table__list-tablet {
  display: none;
}

@media (min-width: 768px) {
  .table__list-tablet {
    display: flex;
    justify-content: flex-end;
  }

  .table__list {
    justify-content: flex-end;
    padding-bottom: 70px;
  }

  .item__desc {
    display: none;
  }

  .item__desc-table {
    font-size: 14px;
    line-height: 30px;
    font-weight: lighter;
    min-width: 154px;
    padding: 7px 15px;
  }

  .item__cost {
    font-weight: lighter;
  }
}

.table__item:nth-child(1) {
  text-align: center;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: #283644;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width: 276px;
  min-height: 94px;
  text-transform: uppercase;
  align-items: inherit;
  font-size: 18px;
  line-height: 30px;

  .item__cost {
    margin-top: 0;
  }

  .item__price {
    font-weight: 800;
    margin-bottom: 0;
  }
}

.table__item:nth-child(1)::before {

}

.table__item--active::before {
  display: block;
  content: "хит";
  position: absolute;
  background-color: #d22856;
  transform: rotate(-45deg);
  width: 30px;
  height: 20px;
  top: 20px;
  left: 16px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

@media (min-width: 768px) {
  .table__item:nth-child(1) {
    min-width: 155px;
    position: relative;
  }

  .table__item:nth-child(1)::before {
    top: 14px;
    left: 6px;
  }

  .item__price {
    font-size: 16px;
  }

  .table__item {
    height: 45px;
  }
}

.items__slider {
  display: flex;
  min-width: 60px;
  min-height: 15px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}


@media (min-width: 768px) {
  .items__slider {
    display: none;
  }

  .table__item-head {
    opacity: 0;
  }
}


@media (min-width: 1200px) {
  .table__item:nth-child(1) {
    width: 236px;
    min-height: 96px;
  }

  .item__price {
    font-size: 18px;
  }

  .item__cost {
    font-size: 24px;
  }

  .item__desc-table {
    font-size: 18px;
    line-height: 30px;
  }
}
