.footer__contacts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 270px;
  text-align: center;
}

.contacts__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .footer__contacts {
    width: 620px;
  }
}

@media (min-width: 1200px) {
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
  }

  .footer__contacts {
    width: 960px;
  }

  .contacts__links {
    display: flex;
    justify-content: space-between;
  }
}

.links__phone {
  .phone__text {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
  }
  .phone__number {
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    color: #d22856;
  }
}

@media (min-width: 768px) {
  .links__phone {
    display: inline-flex;
    flex-direction: column;
    padding-right: 50px;
  }
}

.links__mail {
  .mail__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    margin-bottom: 0;
  }
  .mail__link {
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
    color: #d22856;
  }
}

@media (min-width: 768px) {
  .links__mail {
    display: inline-flex;
    flex-direction: column;
    padding-left: 50px;
  }
}

.links__invite {
  .invite__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    margin-bottom: 0;
  }
  .invite__address {
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
    color: #d22856;
  }
}

.main__footer-hide {
  display: none;
}

@media (min-width: 768px) {
  .main__footer-hide {
    display: flex;
    align-items: center;
    min-height: 126px;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
}


@media (min-width: 1200px) {
  .footer__wrapper {
    width: 100%;
  }

  .footer__map {
    min-height: 510px;
  }

  .links__phone {
    padding-right: 0;
  }

  .links__invite {
    padding-left: 0;
  }

  .footer__info-s {
    width: 960px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
