.footer__map {
  min-height: 210px;
  position: relative;
  margin-top: 13px;
}

.map__api {
  background: url("../../img/bg-map-mobile@1x-min.png") no-repeat;
  width: 100%;
  height: 210px;
  margin: auto;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../../img/bg-map-mobile@2x.jpg") no-repeat;
    background-size: 100%;
  }
}

@media (min-width: 660px) {
  .map__api {
    background: url("../../img/photo-map-tablet@1x-min.png");
    width: 100%;
    height: 337px;
    background-position: 49px -411px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/bg-map-tablet@2x.jpg") no-repeat;
      background-size: 100%;
    }
  }
}

@media (min-width: 960px) {
  .map__api {
    width: 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../../img/bg-map-desktop@2x.jpg") no-repeat;
      background-size: 100%;
    }
  }
}
