.main__prices {
  background: url("../../img/bg-triangle-white.svg") top #f2f2f2 no-repeat;
  padding-top: 91px;
  margin-top: 39px;
  background-size: 102% auto;
  min-height: 377px;

  .prices__table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.table__list-left {
  transform: translateX(280px);
}

.table__list-right {
  transform: translateX(-280px);
}

.table__list-center {
  transform: translateX(0);
}

@media (min-width: 660px) {
  .main__prices {
    padding-top: 29px;
    min-height: 349px;
    margin-top: 0;
  }
}

@media (min-width: 960px) {
  .main__prices {
    min-height: 522px;
    padding-top: 0;
  }
}

.prices__wrapper {
  overflow: hidden;
}

.table__wrapper {
  min-height: 286px;
  display: flex;
}

.table__list {
  padding-left: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 281px;
}

.table__item {
  background-color: white;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;

  .item__desc {
    padding: 0 22px 9px;
  }
}

.table__list-tablet {
  display: none;
}

@media (min-width: 660px) {
  .table__list-tablet {
    display: flex;
    justify-content: flex-end;
    width: 150px;
  }

  .table__list {
    width: 155px;
    justify-content: flex-end;
    padding-bottom: 13px;
    transform: translateX(0);
  }

  .item__desc {
    display: none;
  }

  .item__desc-table {
    font-size: 14px;
    line-height: 30px;
    min-width: 154px;
    padding-left: 15px;
    margin-top: 9px;
  }

  .prices__wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .table__list {
    width: 236px;
  }

  .prices__wrapper {
    padding-top: 145px;
    margin: 0 auto;
    width: 960px;
  }
}

.table__item:nth-child(1) {
  text-align: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: #283644;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width: 276px;
  min-height: 96px;
  text-transform: uppercase;
  align-items: inherit;
  font-size: 18px;
  line-height: 30px;
}


.item__price {
  font-weight: 800;
  margin-bottom: 0;
}

.item__cost {
  margin-top: 0;
  opacity: 0.8;
  font-size: 24px;
}

.table__item--active::before {
  display: block;
  content: "хит";
  position: absolute;
  background-color: #d22856;
  transform: rotate(-45deg);
  width: 30px;
  height: 20px;
  top: 17px;
  left: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

@media (min-width: 660px) {
  .table__item:nth-child(1) {
    min-width: 155px;
    position: relative;
    min-height: 79px;
  }

  .table__item:nth-child(1)::before {
    top: 14px;
    left: 6px;
  }

  .item__cost {
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 12px;
  }

  .item__price {
    font-size: 16px;
    margin-top: 9px;
  }

  .table__item {
    height: 45px;
  }
}

.table__slider {
  display: flex;
  min-width: 70px;
  min-height: 15px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 20px;
  margin: 0 auto;
}


@media (min-width: 660px) {
  .table__slider {
    display: none;
  }

  .table__item-head {
    opacity: 0;
  }
}


@media (min-width: 960px) {
  .table__item:nth-child(1) {
    width: 234px;
    min-height: 96px;
  }

  .table__item {
    min-height: 60px;
  }

  .item__price {
    font-size: 18px;
    margin-top: 15px;
  }

  .item__cost {
    font-size: 24px;
    min-height: 42px;
  }

  .item__desc-table {
    font-size: 18px;
    line-height: 30px;
    padding-left: 27px;
    padding-top: 4px;
  }

  .table__list-wrapper {
    width: 703px;
  }

  .table__item:nth-child(1)::before {
    top: 17px;
    left: 12px;
  }
}

.table__list-wrapper {
  display: flex;
}

.item__svg-main {
  fill: #d22856;
  position: absolute;
}

@media (min-width: 660px) {
  .item__svg-main {
    height: 60px;
    width: 60px;
  }
}

.item__svg {
  &--yes {
    fill: green;
    padding-right: 18px;
    margin-left: 50px;
    margin-top: -2px;
  }

  &--no {
    fill: #f25b26;
    padding-right: 18px;
    margin-left: 50px;
    margin-top: -8px;
  }
}

@media (min-width: 660px) {
  .item__svg--yes {
    margin: 0 auto;
    padding-right: 0;
    margin-right: 59px;
  }

  .item__svg--no {
    margin: 0 auto;
    margin-right: 45px;
  }
}

@media (min-width: 960px) {
  .item__svg--yes {
    margin-right: 100px;
    padding-top: 2px;
  }

  .item__svg--no {
    margin-right: 85px;
    margin-bottom: 4px;
  }

  .item__svg-main {
    height: 74px;
    width: 74px;
    top: 0;
  }
}
