body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "Helvetica", "Garuda", sans-serif;
  color: black;
  font-style: normal;
  background-color: #ffffff;
  font-weight: 400;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
