.form__achieve {
  background-color: #f2f2f2;
}

@media (min-width: 660px) {
  .form__achieve {
    background: white;
  }

  .achieve__field {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 37px;
    margin-top: 13px;
    padding-top: 0;
    min-height: 540px;
    padding-bottom: 2px;
  }
}

.field__text {
  color: #d22856;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  padding-top: 37px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.field__text-app {
  line-height: 19px;
}

.field__list {
  padding-top: 18px;
  padding-left: 7px;
  padding-right: 10px;
}

.desc__item {
  flex-direction: column;
  padding-bottom: 0;
}

.field__item {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 52px;
}

.field__item:last-child {
  padding-bottom: 0;
}

@media (min-width: 660px) {
  .field__list {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    margin-left: 38px;
    margin-top: 29px;
    margin-bottom: 7px;
  }

  .field__text {
    text-align: center;
  }
}

.item__label {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  user-select: none;
}

@media (min-width: 960px) {
  .form__achieve {
    margin: 0 auto;
  }

  .achieve__field {
    min-height: 237px;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 0;
    margin: 0 auto;
    margin-top: 14px;
    width: 939px;
    box-sizing: border-box;
  }

  .field__list {
    padding-left: 60px;
    padding-right: 0;
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    min-height: 188px;
    margin: 0;
    box-sizing: border-box;
  }

  .field__item {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 22px;
    width: 260px;
    justify-content: center;
    min-height: 26px;
  }

  .field__item:nth-child(1) {
    order: 1;
  }

  .field__item:nth-child(2) {
    order: 4;
  }

  .field__item:nth-child(3) {
    order: 2;
  }

  .field__item:nth-child(4) {
    order: 5;
  }

  .field__item:nth-child(5) {
    order: 3;
  }

  .field__item:nth-child(6) {
    order: 6;
  }

  .item {
    padding-bottom: 0;
  }
}
