.form__app {
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.app__field {
  min-height: 325px;
  text-align: left;
  padding-bottom: 7px;
}

.field__item-app {
  width: 200px;
}

@media (min-width: 660px) {
  .app__field {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 290px;
    margin-top: 6px;
    text-align: left;
  }
}

.field__list-app {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-height: 220px;
  justify-content: space-around;
  margin-top: 10px;
}

@media (min-width: 660px) {
  .field__list-app {
    padding-left: 79px;
    padding-top: 10px;
  }
}

.item-app__input-radio {
  opacity: 0;
  position: relative;
}

.item-app__label-radio {
  font-size: 18px;
  line-height: 30px;
  position: relative;
  padding-left: 18px;

  &::before {
    background-color: #ffffff;
    content: "";
    position: absolute;
    width: 37px;
    height: 35px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    top: -6px;
    left: -50px;
  }
}

.item-app__input-radio + .item-app__label-radio:active::after,
.item-app__input-radio:checked + .item-app__label-radio::after {
  display: block;
  border-radius: 50%;
  background-color: #d22856;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: -37px;
  top: 6px;
}

.item-app__input-radio + .item-app__label-radio::after {
  display: none;
}

@media (min-width: 660px) {
  .item-app__label-radio {
    padding-left: 10px;
  }

  .field__item-app {
    width: 200px;
  }
}

@media (min-width: 960px) {
  .form__app {
    margin-right: 8px;
    width: 455px;
  }

  .app__field {
    margin-right: 0;
    padding-right: 0;
    text-align: left;
  }

  .field__list-app {
    padding-left: 112px;
    padding-right: 124px;
    margin-top: 11px;
    justify-content: space-around;
    min-height: 218px;
    position: relative;
  }

  .field__item-app {
    width: 171px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .item-app__input-radio {
    opacity: 1;
    position: absolute;
    width: 43px;
    left: 61px;
    height: 39px;
    margin-top: -3px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 960px) {
  .item-app__input-radio {
    opacity: 1;
    position: absolute;
    width: 41px;
    left: 68px;
    height: 38px;
    margin-top: -3px;
  }
}
