.item__checkbox {
  position: absolute;
  opacity: 0;
}

.item__checkbox:not(:checked) + .item__label,
.item__checkbox:checked + .item__label {
  position: relative;
  padding: 0 0 0 38px;
  cursor: pointer;
  padding-left: 67px;
}

@media (min-width: 660px) {
  .item__checkbox:not(:checked) + .item__label,
  .item__checkbox:checked + .item__label {
    padding-left: 60px;
  }
}

.item__checkbox + .item__label::before {
  background: #ffffff;
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
}

.item__checkbox:not(:checked) + .item__label:focus::before,
.item__checkbox:checked + .item__label:focus::before {
  border: 1px solid rgb(229, 151, 0);
}

.item__checkbox + .item__label:hover::before,
.item-app__input-radio + .item-app__label-radio:hover::before {
  cursor: pointer;
  border: 2px solid black;
}

.item__checkbox + .item__label:active::before,
.item-app__input-radio + .item-app__label-radio:active::before {
  border: 2px solid #d22856;
}

.item__checkbox + .item__label:active .item__label-svg,
.item__checkbox:checked + .item__label .item__label-svg {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  left: 5px;
  fill: #d22856;
}

.item__label-svg {
  display: none;
}
