
.item__checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.item__checkbox:not(checked) + .item__label,
.item__checkbox:checked + .item__label {
  position: relative;
  padding: 0 0 0 38px;
  cursor: pointer;
}

.item__checkbox:not(checked) + .item__label,
.item__checkbox:checked + .item__label {
  padding-left: 67px;
}

@media (min-width: 660px) {
  .item__checkbox:not(checked) + .item__label,
  .item__checkbox:checked + .item__label {
    padding-left: 60px;
  }
}

.item__checkbox:not(checked) + .item__label:before {
  background: #ffffff;
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
}

.item__checkbox + .item__label:hover::before,
.input__radio-app + .item__label-app:hover::before {
  cursor: pointer;
  border: 2px solid black;
}

.item__checkbox + .item__label:active::before,
.input__radio-app + .item__label-app:active::before {
  border: 2px solid #d22856;
}

.item__checkbox + .item__label:active .item__label-svg,
.item__checkbox:checked + .item__label .item__label-svg {
  position: absolute;
  display: block;
  top: 4px;
  left: 5px;
  fill: #d22856;
}

.item__label-svg {
  display: none;
}
