.main__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 278px;
  padding-top: 20px;
  justify-content: space-between;
}

.info-s__social-links {
  min-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 660px) {
  .main__footer {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 126px;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 23px;
  }

  .info-s__social-links {
    padding-left: 3px;
  }
}

.info-s__link {
  padding-top: 18px;
}

.info-s__link:hover {
  .info-s__svg {
    fill: #d22856;
  }
}

.info-s__link:active {
  .info-s__svg {
    fill: black;
    opacity: 0.3;
  }
}

.social-links__link {
  border: 2px solid #e9ebec;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;

  &--twitter {
    padding-top: 13px;
  }

  &--youtube {
    padding-top: 13px;
    padding-left: 2px;
  }
}

.social-links__link:hover {
  border: 2px solid black;
}

.social-links__link:active {
  opacity: 0.3;
}

.developer__link {
  display: flex;
  flex-direction: row;
  min-width: 150px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 25px;

  .link__text {
    color: black;
  }
}

@media (min-width: 660px) {
  .developer__link {
    padding-bottom: 0;
    padding-bottom: 0;
    margin-top: 24px;
  }

  .footer__info-s {
    display: none;
  }

  .main__footer-hide {
    display: flex;
    padding-top: 0;
  }

  .social-links__link {
    width: 49px;
    height: 49px;
  }
}

.developer__link:hover {
  .link__svg {
    fill: black;
  }
}

.developer__link:active {
  .link__svg {
    opacity: 0.3;
  }
}

@media (min-width: 960px) {
  .footer__info-s {
    display: none;
  }

  .main__footer-hide {
    display: flex;
    padding-top: 16px;
  }

  .info-s {
    padding-top: 12px;
  }
}
