.form__pop-up {
  position: absolute;
  z-index: 100;
  background: white;
  top: 810px;
  box-shadow: 2px 2px 15px 0 #b0b6bb;
  min-height: 289px;

  .pop-up__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 289px;
    justify-content: space-evenly;
  }
}

.pop-up__btn {
  border: 0;
  background: #2aab6d;
  min-width: 276px;
  min-height: 60px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 21px;
}

.pop-up__title {
  font-size: 18px;
  line-height: 24px;
}

.pop-up__text {
  font-size: 14px;
  line-height: 24px;
}
