.form__pop-up-copy {
  display: block;
  position: absolute;
  bottom: 432px;
  z-index: 100;
  background: white;
  box-shadow: 2px 2px 15px 0px #b0b6bb;
  min-height: 379px;
}

.pop-up-copy__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 382px;
  justify-content: space-evenly;

  .pop-up-copy__title {
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
  }

  .pop-up-copy__text {
    font-size: 14px;
    line-height: 24px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 48px;
  }
}

.pop-up-copy__button-wrapper {
  min-height: 170px;
  background-color: #f2f2f2;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-up-copy__btn {
  border: 0;
  background: #2aab6d;
  min-width: 276px;
  min-height: 60px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.pop-up-copy__btn:hover {
  background-color: #1c9b5e;
  transition: 0.2s;
}

.pop-up-copy__btn:active {
  color: rgba(255, 255, 255, 0.3);
}
