.form__achieve {
  background-color: #f2f2f2;
}

.field__text {
  color: #d22856;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: lighter;
  padding-top: 20px;
}

.field__list {
  padding-left: 10px;
  padding-right: 10px;
  .item {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }
}

.item__label {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: lighter;
  user-select: none;
}


