.form__emoj {
  min-height: 290px;
  display: flex;
  flex-direction: column;
}

.emoj__field {
  padding-right: 25px;
  padding-left: 17px;
  padding-top: 14px;
  min-width: 274px;
}

.field__textarea {
  border: 2px solid #e5e5e5;
  min-height: 183px;
  width: 100%;
  //padding-left: 21px;
  //padding-right: 21px;
  padding-top: 15px;
  border-radius: 2px;
  //padding: 17px 20px 0px 20px;
}

@media (min-width: 660px) {
  .emoj__field {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .field__textarea {
    width: 500px;
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form__submit-emoj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 960px) {
  .field__textarea {
    width: 820px;
  }
}
