.submit__button--disabled {
  background-color: #e5e5e5;
  opacity: 0.3;
}

.submit__button {
  border: 0;
  background: #2aab6d;
  min-width: 276px;
  min-height: 60px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 21px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
}

.submit__button:hover {
  background-color: #1c9b5e;
  transition: 0.2s;
}

.submit__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.submit__text-sub {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  .text-sub__star {
    color: #d22856;
  }
}

@media (min-width: 1200px) {
  .form__submit {
    margin-right: 0;
    margin-left: 0;
  }
}
