.form__emoj {
  min-height: 290px;
  display: flex;
  flex-direction: column;
}

.emoj__field {
  padding-right: 31px;
  padding-left: 13px;
  padding-top: 12px;
  margin-left: 8px;
  margin-bottom: 0;
  margin-right: 10px;
  min-width: 205px;
}

.field__textarea {
  border: 2px solid #e5e5e5;
  min-height: 181px;
  width: 100%;
  padding-top: 17px;
  padding-left: 16px;
  font-size: 19px;
  border-radius: 2px;
  line-height: 29px;
}

@media (min-width: 660px) {
  .emoj__field {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 14px;
    padding-top: 16px;
    min-height: 273px;
  }

  .field__textarea {
    width: 478px;
    min-height: 170px;
    margin-top: 17px;
    margin-bottom: 20px;
    margin-left: 13px;
  }

  .form__submit-emoj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 960px) {
  .field__textarea {
    min-height: 105px;
    width: 796px;
    margin-left: 20px;
  }

  .field__textarea {
    min-height: 105px;
  }

  .emoj__field {
    min-height: 195px;
    margin-left: 9px;
    margin-right: 8px;
  }
}
