//.visually-hidden {
//  display: none;
//}

.field__list-e {
  padding-left: 6px;
  padding-top: 11px;
}

.field__text-e {
  display: none;
}

.e-contacts__field {
  padding-bottom: 12px;
}

.item__label-e {
  padding-left: 22px;
}

@media (min-width: 660px) {
  .item__label-e {
    padding-top: 0;
    padding-left: 19px;
  }

  .field__item-e {
    flex-direction: column-reverse;
    width: 497px;
    margin: 0 auto;
    padding-right: 11px;
    margin-right: 51px;
    padding-top: 2px;
    align-items: flex-start;
    position: relative;
  }

  .field__text {
    padding-top: 3px;
    padding-left: 19px;
  }

  .field__text-e {
    display: block;
    margin-top: 3px;
  }

  .e-contacts__field {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 55px;
    padding-bottom: 3px;
  }

  .item__text-e {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-top: 26px;
  }

  .field__item-e:nth-child(1)::after {
    background-color: #e5e5e5;
    width: 58px;
    height: 59px;
    position: absolute;
    content: "";
    top: 28px;
    right: 8px;
    background-image: url("../../img/sprite/sprite.svg");
    background-position: -1007px 601px;
  }

  .field__item-e:nth-child(2)::after {
    background-color: #e5e5e5;
    width: 58px;
    height: 59px;
    position: absolute;
    content: "";
    top: 28px;
    right: 9px;
    background-image: url("../../img/sprite/sprite.svg");
    background-position: -1174px 601px;
  }

  .filed__list-e {
    margin-top: 0;
    padding-top: 0;
  }

  .field__list-e {
    padding-top: 0;
    margin-top: 2px;
  }
}

@media (min-width: 960px) {
  .field__list-e {
    display: flex;
    margin-bottom: 6px;
    justify-content: space-around;
  }

  .field__item-e {
    width: 40%;
    padding-left: 0;
    margin-top: 6px;
  }

  .e-contacts__field {
    width: 925px;
    padding-top: 0;
    margin-top: 9px;
    margin-left: 11px;
    margin-right: 0;
  }

  .field__item-e:nth-child(1) {
    margin-left: 43px;
  }

  .field__item-e:nth-child(1)::after {
    top: 30px;
    right: 7px;
  }

  .field__item-e:nth-child(2)::after {
    top: 30px;
    right: 6px;
  }

  .field__text {
    padding-top: 0;
    padding-left: 25px;
  }
}

.e-contacts__field {
  padding-right: 0;
}
