.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 960px) {
  .form {
    margin-top: 8px;
  }
}

.field,
.feedback {
  border: 0;
}

.full-name__feedback {
  padding-right: 0;
}

.form__full-name {
  margin: 0 auto;
}

.wrapper__forms {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main__text-head {
  padding-top: 6px;
}

@media (min-width: 960px) {
  .wrapper__main-form {
    margin: 0 auto;
    width: 960px;
  }

  .form__display {
    display: none;
  }

  .wrapper__forms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
  }

  .form__app,
  .form__full-name {
    width: 45%;
  }
}

.main__text,
.text__span {
  font-size: 14px;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 9px;
  margin-bottom: 10px;
}

.full-name__wrapper {
  min-height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.full-name__s-name {
  margin-top: 16px;
}

.full-name__a-name {
  margin-top: 4px;
}

.text__span-sub {
  display: none;
}

@media (min-width: 660px) {
  .main__text,
  .text__span {
    font-size: 18px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 56px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 2px;
  }

  .text__span-sub {
    display: block;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.name {
  display: flex;
  flex-direction: column;
  min-width: 297px;
  min-height: 100px;
}

.full-name__m-name {
  padding-top: 4px;
}

.name__label {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  text-align: left;
  padding-left: 27px;
  padding-bottom: 5px;
  color: #d22856;
}

.field__item-e:nth-child(2) {
  padding-top: 2px;
}

.a-name__label {
  padding-left: 28px;
  padding-bottom: 2px;
}

.name__input {
  width: 252px;
  height: 59px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  padding-left: 21px;
  margin-left: 1px;
  margin-bottom: 13px;
}

@media (min-width: 660px) {
  .name__label {
    padding-left: 5px;
    padding-top: 26px;
  }

  .name {
    flex-direction: row;
    min-width: 300px;
    min-height: 100px;
    align-items: center;
  }

  .name__input {
    width: 77.5%;
    margin-left: 20px;
    margin-top: 27px;
  }

  .full-name__a-name {
    margin-top: 11px;
  }

  .a-name__text {
    width: 84%;
  }

  .m-name__label {
    padding-top: 29px;
  }

  .m-name__text {
    margin-top: 35px;
  }
}

.name__input:hover {
  border: 2px solid black;
}

.name__input:focus {
  border: 2px solid #d22856;
  outline: none;
}


@media (min-width: 960px) {
  .full-name__feedback {
    margin-right: 33px;
    margin-top: 14px;
    padding-left: 0;
  }

  .main__text {
    margin-top: 37px;
  }

  .text__span-sub {
    display: inline;
    padding: 0;
  }

  .name__label {
    padding-left: 10px;
  }
}

.form__achieve {
  background-color: #f2f2f2;
}

@media (min-width: 660px) {
  .form__achieve {
    background: white;
  }

  .achieve__field {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 37px;
    margin-top: 13px;
    padding-top: 0;
    min-height: 540px;
    padding-bottom: 2px;
  }
}

.field__text {
  color: #d22856;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  padding-top: 37px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.field__text-app {
  line-height: 19px;
}

.field__list {
  padding-top: 18px;
  padding-left: 7px;
  padding-right: 10px;
}

.desc__item {
  flex-direction: column;
  padding-bottom: 0;
}

.field__item {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 52px;
}

.field__item:last-child {
  padding-bottom: 0;
}

@media (min-width: 660px) {
  .field__list {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    margin-left: 38px;
    margin-top: 30px;
    padding-top: 11px;
    margin-bottom: 13px
  }

  .field__text {
    text-align: center;
  }
}

.item__label {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  user-select: none;
}

@media (min-width: 960px) {
  .form__achieve {
    margin: 0 auto;
  }

  .achieve__field {
    min-height: 237px;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 0;
    margin: 0 auto;
    margin-top: 14px;
    width: 939px;
    box-sizing: border-box;
  }

  .field__list {
    padding-left: 60px;
    padding-right: 0;
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    min-height: 188px;
    margin: 0;
    box-sizing: border-box;
  }

  .field__item {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 22px;
    width: 260px;
    justify-content: center;
    min-height: 26px;
  }

  .field__item:nth-child(1) {
    order: 1;
  }

  .field__item:nth-child(2) {
    order: 4;
  }

  .field__item:nth-child(3) {
    order: 2;
  }

  .field__item:nth-child(4) {
    order: 5;
  }

  .field__item:nth-child(5) {
    order: 3;
  }

  .field__item:nth-child(6) {
    order: 6;
  }

  .item {
    padding-bottom: 0;
  }
}

.form__pop-up {
  position: absolute;
  z-index: 100;
  background: white;
  top: 810px;
  box-shadow: 2px 2px 15px 0 #b0b6bb;
  min-height: 289px;
}

.pop-up__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 289px;
  justify-content: space-evenly;
}

.pop-up__btn {
  border: 0;
  background: #2aab6d;
  min-width: 276px;
  min-height: 60px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 21px;
}

.pop-up__title {
  font-size: 18px;
  line-height: 24px;
}

.pop-up__text {
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 660px) {
  .form__pop-up {
    top: 280px;
    width: 462px;
    left: 99px;
    min-height: 344px;
  }

  .pop-up__title {
    padding-left: 116px;
    padding-right: 116px;
    font-size: 30px;
    margin-top: 38px;
  }

  .pop-up__text {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
    margin-bottom: 39px;
  }
}

@media (min-width: 960px) {
  .form__pop-up {
    left: 252px;
    top: 261px;
    min-height: 366px;
  }
}

.field__list-e {
  padding-left: 6px;
  padding-top: 11px;
}

.field__text-e {
  display: none;
}

.e-contacts__field {
  padding-bottom: 12px;
  padding-right: 0;
  padding-top: 11px;
}

.item__label-e {
  padding-left: 22px;
}

@media (min-width: 660px) {
  .item__label-e {
    padding-top: 0;
    padding-left: 19px;
  }

  .field__item-e {
    flex-direction: column-reverse;
    width: 497px;
    margin: 0 auto;
    padding-right: 11px;
    margin-right: 51px;
    padding-top: 2px;
    align-items: flex-start;
    position: relative;
  }

  .field__text {
    padding-top: 3px;
    padding-left: 19px;
  }

  .field__text-e {
    display: block;
    margin-top: 3px;
  }

  .e-contacts__field {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 55px;
    padding-bottom: 3px;
  }

  .item__text-e {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-top: 26px;
  }

  .field__item-e:nth-child(1)::after {
    background-color: #e5e5e5;
    width: 58px;
    height: 59px;
    position: absolute;
    content: "";
    top: 28px;
    right: 8px;
    background-image: url("../../img/sprite/sprite.svg");
    background-position: -1007px 601px;
  }

  .field__item-e:nth-child(2)::after {
    background-color: #e5e5e5;
    width: 58px;
    height: 59px;
    position: absolute;
    content: "";
    top: 28px;
    right: 9px;
    background-image: url("../../img/sprite/sprite.svg");
    background-position: -1116px 601px;
  }

  .filed__list-e {
    margin-top: 0;
    padding-top: 0;
  }

  .field__list-e {
    padding-top: 0;
    margin-top: 2px;
  }
}

@media (min-width: 960px) {
  .field__list-e {
    display: flex;
    margin-bottom: 6px;
    justify-content: space-around;
    flex-flow: wrap;
    flex-direction: row;
  }

  .field__item-e {
    width: 40%;
    padding-left: 0;
    margin-top: 6px;
  }

  .e-contacts__field {
    width: 925px;
    padding-top: 0;
    margin-top: 9px;
    margin-left: 11px;
    margin-right: 0;
    min-height: 167px;
  }

  .field__item-e:nth-child(1) {
    margin-left: 43px;
  }

  .field__item-e:nth-child(1)::after {
    top: 28px;
    right: 6px;
  }

  .field__item-e:nth-child(2)::after {
    top: 28px;
    right: 6px;
  }

  .field__text {
    padding-top: 0;
    padding-left: 25px;
  }
}

.form__pop-up-copy {
  display: block;
  position: absolute;
  bottom: 432px;
  z-index: 100;
  background: white;
  box-shadow: 2px 2px 15px 0 #b0b6bb;
  min-height: 379px;
}

.pop-up-copy__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 382px;
  justify-content: space-evenly;
}

.pop-up-copy__title {
  font-size: 18px;
  line-height: 24px;
  margin-top: 37px;
}

.pop-up-copy__text {
  font-size: 14px;
  line-height: 24px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 48px;
}

.pop-up-copy__button-wrapper {
  min-height: 170px;
  background-color: #f2f2f2;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-up-copy__btn {
  border: 0;
  background: #2aab6d;
  min-width: 276px;
  min-height: 60px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.pop-up-copy__btn:hover {
  background-color: #1c9b5e;
  transition: 0.2s;
}

.pop-up-copy__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 660px) {
  .form__pop-up-copy {
    bottom: 1047px;
    width: 463px;
    left: 99px;
  }

  .pop-up-copy__title {
    padding-left: 116px;
    padding-right: 116px;
    font-size: 30px;
  }

  .pop-up-copy__text {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
    margin-bottom: 39px;
  }
}

@media (min-width: 960px) {
  .form__pop-up-copy {
    bottom: 227px;
    left: 93px;
    width: 781px;
  }

  .pop-up-copy__text {
    padding-left: 157px;
    padding-right: 157px;
  }
}

.form__app {
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.app__field {
  min-height: 325px;
  text-align: left;
  padding-bottom: 7px;
}

.field__item-app {
  width: 200px;
}

@media (min-width: 660px) {
  .app__field {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 290px;
    margin-top: 6px;
    text-align: left;
  }
}

.field__list-app {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-height: 220px;
  justify-content: space-around;
  margin-top: 10px;
  padding-left: 58px;
}

@media (min-width: 660px) {
  .field__list-app {
    padding-left: 96px;
    padding-top: 10px;
  }
}

.item-app__input-radio {
  opacity: 0;
  position: absolute;
}

.item-app__label-radio {
  font-size: 18px;
  line-height: 30px;
  position: relative;
  padding-left: 18px;

  &::before {
    background-color: #ffffff;
    content: "";
    position: absolute;
    width: 37px;
    height: 35px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    top: -6px;
    left: -50px;
  }
}

.item-app__input-radio + .item-app__component:active::after,
.item-app__input-radio:checked + .item-app__component::after {
  display: block;
  border-radius: 50%;
  background-color: #d22856;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: -37px;
  top: 6px;
}

.item-app__input-radio + .item-app__component::after {
  display: none;
}

@media (min-width: 660px) {
  .item-app__label-radio {
    padding-left: 10px;
  }

  .field__item-app {
    width: 200px;
  }
}

@media (min-width: 960px) {
  .form__app {
    margin-right: 8px;
    width: 455px;
  }

  .app__field {
    margin-right: 0;
    padding-right: 0;
    text-align: left;
  }

  .field__list-app {
    padding-left: 112px;
    padding-right: 124px;
    margin-top: 11px;
    justify-content: space-around;
    min-height: 218px;
    position: relative;
  }

  .field__item-app {
    width: 171px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 960px) {

}

.form__emoj {
  min-height: 290px;
  display: flex;
  flex-direction: column;
}

.emoj__field {
  padding-right: 31px;
  padding-left: 13px;
  padding-top: 17px;
  margin-left: 8px;
  margin-bottom: 0;
  margin-right: 10px;
  min-width: 205px;
}

.field__textarea {
  border: 2px solid #e5e5e5;
  min-height: 181px;
  width: 100%;
  padding-top: 17px;
  padding-left: 16px;
  font-size: 18px;
  border-radius: 2px;
  line-height: 29px;
}

@media (min-width: 660px) {
  .field__text-emoj {
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 0;
  }

  .emoj__field {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding-top: 16px;
    min-height: 273px;
    margin-top: 22px;
  }

  .field__textarea {
    width: 478px;
    min-height: 170px;
    margin-top: 17px;
    margin-bottom: 20px;
    margin-left: 13px;
  }

  .form__submit-emoj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 960px) {
  .field__textarea {
    min-height: 105px;
    width: 796px;
    margin-left: 20px;
  }

  .emoj__field {
    min-height: 195px;
    margin-left: 11px;
    margin-right: 8px;
    margin-top: 15px;
  }

  .field__text-emoj {
    padding-left: 34px;
    padding-right: 34px;
  }
}

.submit__button:disabled {
  background-color: #e5e5e5;
  opacity: 0.3;
}

.submit__button {
  border: 0;
  background: #2aab6d;
  min-width: 276px;
  min-height: 60px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 21px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
}

.submit__button:hover {
  background-color: #1c9b5e;
  transition: 0.2s;
}

.submit__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.submit__text-sub {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  .text-sub__star {
    color: #d22856;
  }
}

.text-sub__hidden {
  display: none;
}

@media (min-width: 660px) {
  .submit__button {
    min-width: 300px;
  }
}

@media (min-width: 960px) {
  .text-sub__hidden {
    display: inline-block;
  }

  .submit__button {
    margin-left: 2px;
  }

  .submit__text-sub {
    margin-right: 9px;
  }
}

.item__checkbox {
  position: absolute;
  opacity: 0;
}

.item__checkbox:not(:checked) + .item__component,
.item__checkbox:checked + .item__component {
  position: relative;
  padding: 0 0 0 38px;
  cursor: pointer;
  padding-left: 67px;
}

@media (min-width: 660px) {
  .item__checkbox:not(:checked) + .item__component,
  .item__checkbox:checked + .item__component {
    padding-left: 60px;
  }
}

.item__checkbox + .item__component::before {
  background: #ffffff;
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
}

.item__checkbox:not(:checked) + .item__component:focus,
.item__checkbox:checked + .item__component:focus::before {
  border: 1px solid rgb(229, 151, 0);
}

.item__checkbox + .item__component:hover::before,
.item-app__input-radio + .item-app__component:hover::before {
  cursor: pointer;
  border: 2px solid black;
}

.item__checkbox + .item__component:active::before,
.item-app__input-radio + .item__component-app:active::before {
  border: 2px solid #d22856;
}

.item__checkbox + .item__component:active .item__label-svg,
.item__checkbox:checked + .item__component .item__label-svg {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  left: 5px;
  width: 30px;
  height: 16px;
  fill: #d22856;
}

.item__label-svg {
  display: none;
}

@media (min-width: 960px) {

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 960px) {
  .item__checkbox:focus {
    height: 36px;
  }
}

@media (max-width: 480px) {
  .form__full-name {
    order: 1;
  }

  .form__achieve {
    order: 2;
    min-height: 597px;
  }

  .form__e-contacts {
    order: 3;
  }

  .form__app {
    order: 4;
  }

  .form__emoj {
    order: 5;
  }

  .form__submit {
    order: 6;
    padding-top: 31px;
  }
}

@media (min-width: 660px) {
  .form__full-name {
    order: 1;
    width: 660px;
  }

  .form__achieve {
    order: 4;
  }

  .form__e-contacts {
    order: 3;
  }

  .form__app {
    order: 2;
    background: white;
  }

  .form__emoj {
    order: 5;
  }

  .form__submit {
    order: 6;
    padding-top: 27px;
  }
}

@media (min-width: 960px) {
  .form__full-name {
    width: 50%;
    margin-left: 0;
  }

  .form__emoj {
    margin-top: 44px;
    width: 960px;
  }

  .form__submit {
    width: 960px;
    padding-top: 17px;
    margin-left: 9px;
    margin-right: 0;
  }

  .form__achieve {
    width: 960px;
  }
}


.item__label input[type="checkbox"]:focus + .item__component {
  outline: 1px solid rgb(77, 144, 254);
  outline-offset: 17px;
}

.item-app__label-radio input[type="radio"]:focus + .item-app__component {
  outline: 1px solid rgb(77, 144, 254);
  outline-offset: 17px;
}
