.photos-load__content {
  width: 280px;
  margin: 0 auto;
}

.content__text {
  font-size: 14px;
  line-height: 30px;
  margin-top: 17px;
  text-align: center;
  font-weight: lighter;
}

@media (min-width: 660px) {
  .photos-load__content {
    width: 620px;
  }

  .content__text {
    font-size: 18px;
    line-height: 30px;
    padding-top: 23px;
    padding-bottom: 30px;
  }
}

.option__wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dddfe0;
  padding-top: 20px;
  padding-bottom: 42px;
  margin-top: 17px;
}

.options__scale {
  position: relative;
}

.scale__border {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 2px solid #d22856;
  top: 73px;
  right: 38px;
  z-index: 1;
}

.scale__line {
  position: absolute;
  min-width: 240px;
  height: 2px;
  background: black;
  top: 80px;
  right: 6px;
}

.options__btn {
  cursor: pointer;

  &--submit {
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    min-height: 54px;
  }

  &--cansel {
    margin-top: 13px;
    color: #cec8c9;
    border: 3px solid #cec8c9;
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    line-height: 18px;
    opacity: 0.5;
    min-height: 51px;
  }
}

.options__btn--submit:hover {
  background: #d22856;
  color: white;
}

.options__btn--submit:active {
  color: #e08195;
}

.options__btn--cansel:hover {
  opacity: 1;
}

.options__btn--cansel:active {
  background-color: #b5b9be;
  border: 3px solid #b5b9be;
}

.photos-load__filter {
  background-color: #f2f2f2;
  padding-top: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__icons {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  padding-left: 15px;
  justify-content: space-around;
  height: 100px;
}

.icons__content {
  padding-left: 9px;
  padding-top: 6px;
}

.background__img-mobile {
  display: block;
}

.scale-table {
  display: none;
}

@media (min-width: 660px) {
  .photos-load__filter {
    padding-top: 55px;
    padding-bottom: 50px;
    padding-left: 16px;
    padding-right: 32px;
  }

  .filter__wrapper {
    display: flex;
  }

  .filter__options {
    width: 300px;
  }

  .options__scale {
    display: none;
  }

  .scale-table {
    display: block;
  }

  .menu__icons {
    flex-direction: column;
    padding-top: 0;
    height: 210px;
  }

  .icons__crop,
  .icons__content,
  .icons__fill {
    position: relative;
    display: flex;
    width: 279px;
    min-height: 36px;
    border-bottom: 1px solid #dddfe0;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-top: 0;
  }

  .scale__line {
    top: 8px;
    min-width: 202px;
  }

  .scale__border {
    top: 3px;
    width: 10px;
    height: 10px;
  }

  .border-crop {
    left: 176px;
  }

  .line-crop,
  .line-fill {
    left: 30px;
  }

  .line-fill {
    top: 10px;
  }

  .line-content,
  .border-fill {
    left: 45px;
  }

  .border-fill {
    left: 55px;
    top: 4px;
  }

  .option__wrapper {
    border-top: 0;
    padding-bottom: 7px;
    padding-left: 44px;
  }

  .border-content {
    left: 126px;
    top: 5px;
  }

  .line-content {
    left: 30px;
    top: 11px;
  }

  .options__btn--cansel {
    margin-top: 27px;
    width: 260px;
    font-weight: 700;
  }

  .options__btn--submit {
    width: 260px;
    font-weight: 700;
  }
}

@media (min-width: 960px) {
  .main__photos-load {
    width: 945px;
    margin: 0 auto;
  }

  .photos-load__filter {
    padding-top: 50px;
    margin-top: 36px;
    margin-bottom: 4px;
  }

  .filter__wrapper {
    width: 100%;
    justify-content: space-evenly;
  }

  .option__wrapper {
    width: 408px;
    min-height: 50px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    padding-left: 20px;
  }

  .options__btn {
    width: 180px;
  }

  .options__btn--cansel {
    margin-top: 18px;
  }

  .filter__options {
    padding-left: 0;
    width: 420px;
  }

  .filter__background {
    width: 40%;
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }

  .content__text {
    padding-top: 5px;
    margin-top: 1px;
  }

  .background__img-mobile {
    height: 400px;
  }

  .icons__crop,
  .icons__content,
  .icons__fill {
    padding-left: 6px;
  }

  .scale__line {
    left: 54px;
    top: 23px;
    min-width: 285px;
  }

  .border-content {
    left: 212px;
    top: 16px;
  }

  .border-fill {
    left: 289px;
    top: 17px;
  }

  .border-crop {
    left: 112px;
    top: 13px;
  }

  .line-fill {
    left: 44px;
  }

  .line-crop {
    top: 19px;
    left: 44px;
  }
}
