.nav__box-w {
  display: flex;
  flex-direction: column;

  width: 100%;
  top: 0;
}

.box-w__list {
  margin: 0;
  padding: 0;
}

.box-w__item {
  text-align: center;
  background-color: #283645;
  border-bottom: 1px solid black;
  border-top: 1px solid #485461;
}

.box-w__item-main {
  height: 66px;
}

.box-w__link {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav__box-w--closed {
  display: none;
}

//.inner__toggle-off  {
//  .toggle__svg--open {
//    display: none;
//  }
//
//  .toggle__svg--close {
//    display: block;
//  }
//}

.toggle__box-w--closed {
  .toggle__svg--open {
    display: none;
  }

  .toggle__svg--close {
    display: block;
  }
}

.toggle__svg--close {
  display: none;
}

.box-w__link:hover {
  color: #d22856;
}

.box-w__link:active {
  opacity: 0.3;
  color: #ffffff;
}

.box-w__link--active {
  color: #d22856;
}

@media (min-width: 660px) {
  .box-w__item-main {
    height: 108px;
  }
}

@media (min-width: 960px) {
  .nav__box-w {
    align-items: flex-end;
    height: 100%;
  }

  .box-w__item {
    padding-top: 8px;
    background: transparent;
    border: none;
  }

  .box-w__link {
    color: white;
    font-size: 18px;
    line-height: 18px;
    padding-top: 9px;
    padding-bottom: 20px;
    text-transform: none;
    font-weight: 400;
  }

  .box-w__list {
    display: flex;
    flex-direction: row;
    width: 630px;
    box-sizing: border-box;
    align-items: center;
    justify-content: end;
  }

  .nav__box-w--closed {
    display: flex;
  }
}

.nav__box-w-wrapper {
  position: absolute;
}

@media (min-width: 960px) {
  .nav__box-w {
    position: static;
  }

  .box-w__item:nth-child(3),
  .box-w__item:nth-child(4),
  .box-w__item:nth-child(5){
    padding-left: 80px;
  }
}
