.photos__text-w {
  width: 280px;
  margin: 0 auto;
  padding-top: 4px;
  padding-bottom: 20px;
}

.text-w__slogan {
  font-size: 14px;
  line-height: 30px;
  margin-top: 5px;
  text-align: center;
  font-weight: lighter;
}

.list__title-main {
  padding-top: 14px;
}

.title-main__photos {
  padding-left: 0;
  margin-top: 0;
  padding-top: 18px;
}

.text__number {
  max-width: 80px;
  overflow: hidden;
}

@media (min-width: 660px) {
  .photos__text-w {
    width: 450px;
    padding-top: 31px;
  }

  .text-w__slogan {
    font-size: 18px;
    font-weight: 400;
  }

  .photos__wrapper {
    padding-top: 20px;
  }
}

@media (min-width: 960px) {
  .photos__text-w {
    width: 960px;
    margin: 0 auto;
  }

  .text-w__slogan {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.title-main__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #434833;
}

.title-main__img-tablet {
  display: none;
}

.picture__img-pc {
  display: block;
  width: 100%;
}

@media (min-width: 660px) {
  .title-main__img {
    display: none;
  }

  .picture__img-pc {
    height: 510px;
  }

  .title-main__img-tablet {
    display: block;
    width: 100%;
  }

  .title-main__wrapper {
    background-size: cover;
  }
}

.wrapper__top-day {
  text-align: center;
  position: absolute;
  left: 158px;
  min-width: 140px;
  min-height: 34px;
}

.top-day__title {
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #d22856;
  color: #ffffff;
  padding: 0;
  padding-top: 6px;
  margin: 0;
  min-height: 31px;
}

@media (min-width: 660px) {
  .wrapper__top-day {
    right: 20px;
    top: 57px;
    left: 76%;
  }

  .top-day__title {
    font-size: 12px;
    line-height: 24px;
    padding-top: 7px;
    padding-bottom: 4px;
    min-height: 25px;
  }
}

.user-review__title {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 17px;
}

.user-review__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 17px;
  margin-top: 0;
  margin-bottom: 16px;
}

.user-review__likes {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: flex-end;
  padding-left: 16px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.title-main__user-review,
.info-section__user-review {
  text-align: left;
  background-color: #f2f2f2;
  width: 280px;
  margin: 0 auto;
  padding-top: 15px;
  color: #283645;
}

.title-main__user-review {
  min-height: 176px;
}

.info-section__user-review {
  min-height: 80px;
}

@media (min-width: 660px) {
  .title-main__user-review {
    min-height: 112px;
    width: 591px;
    padding-top: 7px;
    padding-left: 6px;
    margin: 0 auto;
    padding-right: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: baseline;
  }

  .user-review__text {
    margin-top: 0;
    padding-left: 27px;
    min-height: 48px;
    padding-right: 20px;
  }

  .user-review__text-table {
    order: 1;
    padding-left: 20px;
  }

  .info-section__user-review {
    min-height: 133px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 5px;
  }

  .user-review__title {
    padding-top: 9px;
    padding-left: 28px;
  }

  .user-review__main {
    padding-top: 5px;
    padding-left: 28px;
  }

  .title-table {
    flex-grow: 1;
    margin-top: 12px;
    padding-left: 20px;
  }
}

@media (min-width: 960px) {
  .title-main__user-review {
    width: 919px;
    min-height: 89px;
  }

  .info-section__user-review {
    min-height: 134px;
  }

  .user-review__text-table {
    margin-bottom: 0;
    padding-left: 26px;
  }

  .photos__wrapper {
    margin-top: 19px;
    padding-top: 15px;
  }
}

.likes__text {
  font-size: 12px;
  margin-top: 0;
  padding-left: 22px;
  margin-bottom: 12px;
  color: #d22856;
  overflow: hidden;
  max-width: 120px;
}

.title__minutes {
  font-size: 12px;
  color: #283645;
  text-transform: uppercase;
  font-weight: lighter;
}

.wrapper__list {
  padding-left: 0;
}

.photos__item {
  min-height: 321px;
  margin-bottom: 11px;
}

.photos__item:nth-child(2),
.photos__item:nth-child(4) {
  margin-bottom: 2px;
  padding-top: 2px;
}

.photos__item:nth-child(5) {
  padding-top: 0;
  margin-bottom: 3px;
}

.section__photo-img-tablet {
  display: block;
}

.likes__svg {
  fill: #d22856;
  cursor: pointer;
}


@media (min-width: 660px) {
  .title-main__photos {
    width: 622px;
    margin: 0 auto;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__item {
    margin-bottom: 22px;
    width: 300px;
  }

  .photo__img {
    display: none;
  }

  .section__photo-img-tablet {
    display: block;
  }

  .user-review__likes {
    justify-content: space-between;
    flex-direction: row;
    min-width: 140px;
    align-items: center;
    padding-top: 0;
    padding-left: 6px;
    padding-bottom: 0;
    padding-right: 31px;
  }

  .user-review__likes-main {
    padding-top: 14px;
    padding-right: 8px;
  }

  .likes__text {
    padding-left: 22px;
    font-size: 12px;
    margin-bottom: 0;
  }
}

.info-section__photo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .photo__background {
    background: no-repeat center;
    width: 280px;
    height: 180px;
  }
}

@media (min-width: 960px) {
  .top-day__title {
    margin-right: 5px;
    min-height: 19px;
  }

  .user-review__main {
    padding-left: 26px;
    padding-top: 7px;
  }

  .title-main__img-tablet {
    display: none;
  }

  .picture__img-pc {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 505px;
    background: #f2f2f2;
  }

  .wrapper__picture {
    height: 510px;
    width: 960px;
    margin: 0 auto;
  }

  .wrapper__top-day {
    right: 5px;
    min-height: 30px;
    padding-bottom: 0;
    max-width: 140px;
    left: 85%;
  }

  .title-main__photos {
    width: 942px;
  }

  .photos__item {
    padding-bottom: 32px;
    width: 300px;
  }

  .wrapper__list {
    margin-bottom: 0;
  }

  .user-review__likes-main {
    margin-top: 4px;
    padding-right: 15px;
  }
}

.photos-load__content {
  width: 280px;
  margin: 0 auto;
}

.filter__wrapper {
  width: 280px;
}

.content__text {
  font-size: 14px;
  line-height: 30px;
  margin-top: 17px;
  text-align: center;
  font-weight: lighter;
}

@media (min-width: 660px) {
  .photos-load__content {
    width: 620px;
  }

  .content__text {
    font-size: 18px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 30px;
  }
}

.options__wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dddfe0;
  padding-top: 20px;
  padding-bottom: 42px;
  margin-top: 17px;
}

.options__scale {
  position: relative;
}

.scale__border {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 2px solid #d22856;
  top: 73px;
  right: 38px;
  z-index: 1;
  cursor: pointer;
}

.scale__border:active {
  background: #d22856;
}

.scale__line {
  position: absolute;
  min-width: 240px;
  height: 2px;
  background: black;
  top: 80px;
  right: 6px;
  cursor: pointer;
}

.options__btn {
  cursor: pointer;

  &--cansel {
    margin-top: 13px;
    color: #cec8c9;
    border: 3px solid #cec8c9;
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    line-height: 18px;
    opacity: 0.5;
    min-height: 51px;
  }
}

.options__btn--submit {
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 30px;
  background-color: #f2f2f2;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  line-height: 18px;
  margin-top: 20px;
  font-weight: bold;
  min-height: 54px;
}

.options__btn--submit:hover {
  background: #d22856;
  color: white;
}

.options__btn--submit:active {
  color: #e08195;
}

.options__btn--cansel:hover {
  opacity: 1;
}

.options__btn--cansel:active {
  background-color: #b5b9be;
  border: 3px solid #b5b9be;
}

.photos-load__filter {
  background-color: #f2f2f2;
  padding-top: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__icons {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  padding-left: 15px;
  padding-right: 20px;
  justify-content: space-around;
  height: 100px;
}

.icons__content {
  padding-left: 0;
  padding-right: 7px;
  padding-top: 6px;
}

.background__img-mobile {
  display: block;
}

.scale-table {
  display: none;
}

.scale-mobile {
  display: block;
}

.border-content {
  top: 32px;
  left: 8px;
  width: 10px;
  height: 10px;
}

.line-content {
  top: 39px;
  right: -23px;
}

@media (min-width: 660px) {
  .photos-load__filter {
    padding-top: 55px;
    padding-bottom: 50px;
    padding-left: 16px;
    padding-right: 32px;
  }

  .filter__wrapper {
    display: flex;
    width: 600px;
  }

  .filter__options {
    width: 300px;
  }

  .options__scale {
    display: none;
  }

  .scale-table {
    display: block;
  }

  .menu__icons {
    flex-direction: column;
    padding-top: 0;
    height: 210px;
  }

  .icons__crop,
  .icons__content,
  .icons__fill {
    position: relative;
    display: flex;
    width: 94%;
    min-height: 36px;
    border-bottom: 1px solid #dddfe0;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-top: 0;
  }

  .scale__line {
    top: 8px;
    min-width: 202px;
  }

  .scale__border {
    top: 3px;
    width: 10px;
    height: 10px;
  }

  .border-crop {
    left: 176px;
  }

  .line-crop,
  .line-fill {
    left: 30px;
  }

  .line-fill {
    top: 10px;
  }

  .line-content,
  .border-fill {
    left: 45px;
  }

  .border-fill {
    left: 55px;
    top: 4px;
  }

  .options__wrapper {
    border-top: 0;
    padding-bottom: 7px;
    padding-left: 44px;
  }

  .border-content {
    left: 126px;
    top: 5px;
  }

  .line-content {
    left: 30px;
    top: 11px;
  }

  .options__btn--cansel {
    margin-top: 27px;
    width: 260px;
    font-weight: 700;
  }

  .options__btn--submit {
    width: 260px;
    font-weight: 700;
  }
}

@media (min-width: 960px) {
  .main__photos-load {
    width: 945px;
    margin: 0 auto;
  }

  .menu__icons {
    min-height: 208px;
  }

  .photos-load__filter {
    padding-top: 50px;
    margin-top: 41px;
    margin-bottom: 4px;
  }

  .filter__wrapper {
    width: 900px;
    justify-content: space-evenly;
  }

  .options__wrapper {
    width: 408px;
    min-height: 50px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    padding-left: 20px;
  }

  .options__btn {
    width: 180px;
  }

  .options__btn--cansel {
    margin-top: 18px;
  }

  .filter__options {
    padding-left: 0;
    width: 420px;
  }

  .filter__background {
    width: 40%;
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }

  .content__text {
    padding-top: 5px;
    margin-top: 1px;
  }

  .background__img-mobile {
    height: 400px;
  }

  .icons__crop,
  .icons__content,
  .icons__fill {
    padding-left: 6px;
    width: 403px;
    min-height: 52px;
  }

  .scale__line {
    left: 54px;
    top: 23px;
    min-width: 285px;
  }

  .border-content {
    left: 212px;
    top: 16px;
  }

  .border-fill {
    left: 289px;
    top: 17px;
  }

  .border-crop {
    left: 112px;
    top: 13px;
  }

  .line-fill {
    left: 44px;
  }

  .line-crop {
    top: 19px;
    left: 44px;
  }
}

.content__svg,
.fill__svg,
.crop__svg {
  fill: #b5b9be;
  cursor: pointer;
  opacity: 0.7;
}

.crop__svg:hover,
.fill__svg:hover,
.content__svg:hover {
  fill: #b5b9be;
  opacity: 1;
}

.crop__svg:active,
.fill__svg:active,
.content__svg:active {
  fill: #d22856;
}

@media (min-width: 660px) {
  .crop__svg,
  .fill__svg {
    width: 24px;
    height: 24px;
  }

  .content__svg {
    width: 20px;
    height: 19px;
    padding-top: 3px;
    padding-left: 5px;
  }
}

@media (min-width: 960px) {
  .crop__svg,
  .fill__svg {
    width: 48px;
    height: 48px;
  }

  .content__svg {
    width: 32px;
    height: 45px;
  }
}

.crop__svg.icon__svg--active {
  fill: #d22856;
  opacity: 1;
}

@media (min-width: 660px) {
  .crop__svg.icon__svg--active,
  .fill__svg.icon__svg--active,
  .content__svg.icon__svg--active {
    fill: #d22856;
    opacity: 1;
  }

  .crop__svg:hover,
  .fill__svg:hover,
  .content__svg:hover {
    fill: #b5b9be;
    opacity: 1;
  }

  .crop__svg:active,
  .fill__svg:active,
  .content__svg:active {
    fill: #d22856;
  }
}

@media (min-width: 960px) {
  .crop__svg.icon__svg--active,
  .fill__svg.icon__svg--active,
  .content__svg.icon__svg--active {
    fill: #d22856;
    opacity: 1;
  }

  .crop__svg:hover,
  .fill__svg:hover,
  .content__svg:hover {
    fill: #b5b9be;
    opacity: 1;
  }

  .crop__svg:active,
  .fill__svg:active,
  .content__svg:active {
    fill: #d22856;
  }
}
