.logo__svg,
.toggle__svg,
.apple__svg {
  fill: #ffffff;

  &-tablet {
    display: none;
  }
}

.logo__svg-desktop {
  display: none;
}

@media (min-width: 768px) {
  .logo__svg {
    display: none;
  }

  .logo__svg-tablet {
    display: block;
    fill: white;
  }

  .logo__svg-desktop {
    display: none;
  }
}

@media (min-width: 1200px) {
  .logo__svg {
    display: none;
  }

  .logo__svg-tablet {
    display: none;
  }

  .logo__svg-desktop {
    display: block;
  }
}

.android__svg {
  fill: rgb(164, 198, 57);
}

.item__svg-main {
  fill: #d22856;
  position: absolute;
}

@media (min-width: 768px) {
  .item__svg-main {
    height: 60px;
    width: 60px;
  }
}

.item__svg {
  &--yes {
    fill: green;
    padding-right: 18px;
    margin-left: 50px;
  }

  &--no {
    fill: #f25b26;
    padding-right: 18px;
  }
}

@media (min-width: 768px) {
  .item__svg--yes {
    margin: 0 auto;
  }

  .item__svg--no {
    margin: 0 auto;
  }
}

.footer__svg {
  fill: #ffffff;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer__svg-desktop {
  display: none;
}

@media (min-width: 768px) {
  .footer__svg {
    top: 0;
  }
}

@media (min-width: 1200px) {
  .footer__svg {
    display: none;
  }

  .footer__svg-desktop {
    display: block;
    height: 110px;
    width: 1200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.likes__svg {
  fill: #d22856;
}

.crop__svg {
  fill: #d22856;
}

.fill__svg {
  fill: grey;
  opacity: 0.3;
}

.content__svg {
  fill: grey;
  opacity: 0.3;
}

.link__svg {
  fill: #d22856;
}

@media (min-width: 768px) {
  .fill__svg,
  .content__svg {
    fill: #d22856;
    opacity: 1;
  }
}
