.logo__svg,
.toggle__svg,
.apple__svg {
  fill: #ffffff;

  &-tablet {
    display: none;
  }
}

.logo__svg-desktop {
  display: none;
}

@media (min-width: 660px) {
  .logo__svg {
    display: none;
  }

  .logo__svg-tablet {
    display: block;
    fill: white;
  }

  .logo__svg-desktop {
    display: none;
  }
}

@media (min-width: 960px) {
  .logo__svg {
    display: none;
  }

  .logo__svg-tablet {
    display: none;
  }

  .logo__svg-desktop {
    display: block;
    fill: white;
  }
}

.android__svg {
  fill: rgb(164, 198, 57);
}

.item__svg-main {
  fill: #d22856;
  position: absolute;
}

@media (min-width: 660px) {
  .item__svg-main {
    height: 60px;
    width: 60px;
  }
}

.item__svg {
  &--yes {
    fill: green;
    padding-right: 18px;
    margin-left: 50px;
    margin-top: -2px;
  }

  &--no {
    fill: #f25b26;
    padding-right: 18px;
    margin-left: 50px;
    margin-top: -8px;
  }
}

@media (min-width: 660px) {
  .item__svg--yes {
    margin: 0 auto;
    padding-right: 0;
    margin-right: 59px;
  }

  .item__svg--no {
    margin: 0 auto;
    margin-right: 45px;
  }
}

.footer__svg {
  fill: #ffffff;
  width: 100%;
  top: -59px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

//.footer__svg-tablet {
//  display: none;
//}

.footer__svg-desktop {
  display: none;
}

@media (min-width: 660px) {
  .footer__svg {
    display: block;
    top: -41px;
    fill: #ffffff;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 960px) {
  .footer__svg {
    display: none;
  }

  .item__svg--yes {
    margin-right: 100px;
    padding-top: 2px;
  }

  .item__svg--no {
    margin-right: 85px;
    margin-bottom: 4px;
  }

  .item__svg-main {
    height: 74px;
    width: 74px;
  }

  .footer__svg-desktop {
    display: block;
    height: 110px;
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.likes__svg {
  fill: #d22856;
  cursor: pointer;
}

.crop__svg {
  fill: #d22856;
  cursor: pointer;
}

.crop__svg:focus {
  fill: #d22856;
}

.fill__svg {
  fill: grey;
  opacity: 0.3;
  cursor: pointer;
}

.content__svg {
  fill: grey;
  opacity: 0.3;
}

.link__svg {
  fill: #d22856;
}

.developer__link-svg {
  padding-right: 18px;
}

@media (min-width: 660px) {
  .fill__svg,
  .content__svg {
    fill: #d22856;
    opacity: 1;
  }

  .developer__link-svg {
    padding-right: 0;
  }

  .crop__svg,
  .fill__svg {
    width: 24px;
    height: 24px;
  }

  .content__svg {
    width: 20px;
    height: 19px;
    padding-top: 3px;
    padding-left: 5px;
  }
}

@media (min-width: 960px) {
  .crop__svg,
  .fill__svg {
    width: 48px;
    height: 48px;
  }

  .content__svg {
    width: 32px;
    height: 45px;
  }
}
