.wrapper__forms {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main__text-head {
  padding-top: 6px;
}

@media (min-width: 960px) {
  .wrapper__main-form {
    margin: 0 auto;
    width: 960px;
  }

  .form__display {
    display: none;
  }

  .wrapper__forms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
  }

  .form__app,
  .form__full-name {
    width: 45%;
  }
}
